name: test abc1
on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/main.yml
      - action.yml
      - Dockerfile
      - entrypoint.sh

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout some files
      uses: actions/checkout@v4

    - name: Deploy - Create directory
      uses: ysurac/ssh-action@master
      env:
        SOURCE_NAME: "openwrt"
        SOURCE_BRANCH: "openwrt"
        SOURCE_TAG: "tag"
      with:
        command: |
          mkdir -p deploy/${{env.SOURCE_BRANCH}}/${{matrix.OMR_KERNEL}}/${{matrix.OMR_TARGET}}
        host: ${{ secrets.DEPLOY_HOST }}
        user: ${{ secrets.DEPLOY_SSH_USER }}
        port: ${{ secrets.OMR_DEPLOY_PORT }}
        pass: ${{ secrets.DEPLOY_SSH_PASSWORD }}
        args: -tt
      
    - name: Copy files via SSH
      uses: appleboy/scp-action@v1
      env:
        SOURCE_NAME: "openwrt"
        SOURCE_BRANCH: "openwrt"
        SOURCE_TAG: "tag"
      with:
        host: ${{ secrets.DEPLOY_HOST }}
        username: ${{ secrets.DEPLOY_SSH_USER }}
        password: ${{ secrets.DEPLOY_SSH_PASSWORD }}
        port: ${{ secrets.PORT }}
        source: "./"
        TARGET: deploy/${{env.SOURCE_BRANCH}}/${{matrix.OMR_KERNEL}}/${{matrix.OMR_TARGET}}
